<footer class="text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h6>Signature Market</h6>
                <p>
                    At Signature Market, we believe healthy living starts with what you eat and use. We take pride in
                    sourcing only the best wholesome products we like and selling it at an affordable price. We believe
                    healthy lifestyle should be affordable and accessible to everyone.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6>Support</h6>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a routerLink="/contact-us" class="link-light">Contact Us</a>
                    </li>
                    <li>
                        <a href="#" class="link-light">FAQ</a>
                    </li>
                    <li>
                        <a href="#" class="link-light">Terms and Condition</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6>Follow Us</h6>
                <a class="btn m-1" href="#" role="button"><i class="bi bi-facebook"></i></a>
                <a class="btn m-1" href="#" role="button"><i class="bi bi-instagram"></i></a>
                <a class="btn m-1" href="#" role="button"><i class="bi bi-youtube"></i></a>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h6>Payment</h6>
                <span class="btn2"><img src="assets/mc_symbol.svg" width="32" height="32"></span>
                <span class="btn2"><img src="assets/visa.svg" width="32" height="32"></span>
            </div>
        </div>
    </div>

    <div class="text-center p-3 footer">
        © 2014-2021 Signature Market Sdn Bhd (1416668-A). All Rights Reserved. | Terms | Privacy
    </div>
</footer>

<router-outlet></router-outlet>