<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Products</li>
    </ol>
</nav>

<h4 class="text-center">Granola &amp; Muesli</h4>

<!-- Card -->
<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/curry_rice.jpeg" class="card-img-top" alt=""><span><button type="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to Wishlist"><i
                        class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Stewed Beef Curry &amp; Steamed Rice</p>
                <p class="card-text">285g / <s>RM 19.00 </s>&nbsp;<span class="badge bg-danger">RM 7.50</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/herbs_chicken_thigh.jpeg" class="card-img-top" alt=""><span><button type="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to Wishlist"><i
                        class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">5 Treasure Herbs Braised Chicken Thigh</p>
                <p class="card-text">230g / <s>RM 24.00 </s>&nbsp;<span class="badge bg-danger">RM 14.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/mushroom_soup.jpeg" class="card-img-top" alt=""><span><button type="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to Wishlist"><i
                        class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Rustic Herbed Mushroom Soup</p>
                <p class="card-text">200g x 3 packs / <s>RM 46.90 </s>&nbsp;<span class="badge bg-danger">RM
                        18.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/sizzling_chicken_fried_rice.jpeg" class="card-img-top" alt=""><span><button type="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to Wishlist"><i
                        class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Sizzling Chicken &amp; Shiitake Mushroom Fried Rice</p>
                <p class="card-text">180g / <s>RM 19.90 </s>&nbsp;<span class="badge bg-danger">RM 12.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
        </div>
    </div>
</div>