<!-- Heading -->
<h5 class="text-center">Meet Our Bestsellers</h5>

<!-- Card -->
<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/black_sesame_spread.jpeg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Kuro Black Sesame Spread</p>
                <p class="card-text">200g / <s>RM 26.50 </s>&nbsp;<span class="badge bg-danger">RM 14.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/breakfast_muesli.jpg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Breakfast Muesli</p>
                <p class="card-text">350g / <s>RM 25.90 </s>&nbsp;<span class="badge bg-danger">RM 9.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/organic_purple_sweet_potato.jpg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Organic Okinawa Purple Sweet Potato Quinoa</p>
                <p class="card-text">500g / <s>RM 51.90 </s>&nbsp;<span class="badge bg-danger">RM 36.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div>