<h4 class="text-center">Login</h4>
<hr class="divider-center">

<!-- Forms -->
<div class="card" style="width: 350px;">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="your@email.com">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Pasword</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
            <p><small><a href="#" class="text-decoration-none">Forgot your password?</a></small></p>
            <p class="question">Don't have an account?<a class="text-decoration-none" href="#">&nbsp;&nbsp;Register
                    here</a></p>
        </form>
    </div>
</div>