<h4 class="text-center">Contact Us</h4>
<hr class="divider-center">

<!-- Content -->
<div class="card" style="width: 350px;">
    <div class="card-body">
        <h6 class="card-title mb-3">Signature Market Sdn Bhd (1416668-A)</h6>
        <p class="card-subtitle mb-1">Logistic Warehouse:</p>
        <p class="card-text lh-base">C-01-08, Medan Connaught,<br>No.1, Jalan 3/144a,<br>56000 Kuala
            Lumpur.<br>Malaysia.<br>Phone: +(60)3-238 66020<br>Email: help@signaturemarket.co</p>
    </div>
</div>