.card {
  border: none;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-body {
  padding: 0;
  padding-top: 1rem;
}

.card-title {
  font-weight: $font-weight-normal;
}

.card-text {
  font-weight: $font-weight-light;
  font-size: $font-size-subnormal;
}

.badge {
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  color: $red;
}

.bg-danger {
  background-color: transparent !important;
}

// Button
button {
  position: absolute;
  top: 1%;
  right: 1%;
  color: $white;
  border: none;
  background: transparent;
  // opacity: 50%;
}

.btn {
  font-weight: $font-weight-normal;
  font-size: $font-size-subnormal;
  border-radius: 0;
  width: 100%;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
}

.btn-primary {
  color: $green;
  background-color: $white;
  border-color: $green;

  &:hover {
    color: $white;
    background-color: $green;
    border-color: $green;
  }
}

.disabled {
  background-color: $green-light;
  border-color: $green-light;
}

// Media screen
@media only screen and (min-width: 768px) {
  .card {
    width: 75%;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    width: 50%;
  }
}
