<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Products</li>
    </ol>
</nav>

<h4 class="text-center">Functional Beverages</h4>

<!-- Card -->
<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/organic_purple_sweet_potato.jpg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Organic Okinawa Purple Sweet Potato Quinoa</p>
                <p class="card-text">500g / <s>RM 51.90 </s>&nbsp;<span class="badge bg-danger">RM 36.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/avocado.jpeg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Avocado Honey Multigrain Smoothie</p>
                <p class="card-text">30g x 10 sachets / <s>RM 88.00 </s>&nbsp;<span class="badge bg-danger">RM 26.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
        </div>
    </div>
</div>