<!-- Heading -->
<h5 class="text-center">October Exclusive: Be a Uniquecorn Exclusive Set</h5>
<p class="text-center">Exclusively for this Breast Cancer Awareness Month, Limited Quantity, While Stock
    Last.</p>

<!-- Card -->
<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/deals.jpg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">[October Exclusive] Bonanza Bundle Sets</p>
                <p class="card-text">3 items / RM 100</p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/deals.jpg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">[October Exclusive] Bonanza Bundle Sets</p>
                <p class="card-text">3 items / RM 100</p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/deals.jpg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">[October Exclusive] Bonanza Bundle Sets</p>
                <p class="card-text">3 items / <s>RM 100 </s>&nbsp;<span class="badge bg-danger">RM 35</span></p>
            </div>
            <a href="#" class="btn btn-primary disabled">Sold Out</a>
        </div>
    </div>
</div>