<h4 class="text-center">Cart</h4>

<!-- Table -->
<div class="table-responsive">
    <table class="table align-middle table-borderless">
        <thead>
            <tr class="text-uppercase">
                <th class="title" colspan="2">Product</th>
                <th class="title">Price</th>
                <th class="title">Quantity</th>
                <th class="title">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" style="width: 150px;"><img src="assets/black_sesame_spread.jpeg" class="img-fluid"
                        alt="" width="150" height="150"></td>
                <td class="align-bottom">Shizuoka Houjicha Milk Spread</td>
                <td rowspan="2" class="price">RM 11.00</td>
                <td class="align-bottom">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-light"><i class="bi bi-dash"></i></button>
                            <button type="button" class="btn btn-light right">1</button>
                            <button type="button" class="btn btn-light right"><i class="bi bi-plus"></i></button>
                        </div>
                    </div>
                </td>
                <td rowspan="2" class="price">RM 11.00</td>
            </tr>
            <tr class="end">
                <td class="align-top">180 grams</td>
                <td class="align-top"><a href="#">Remove</a></td>
            </tr>

            <tr>
                <td rowspan="2"><img src="assets/breakfast_muesli.jpg" class="img-fluid" alt="" width="150"
                        height="150"></td>
                <td class="align-bottom">Breakfast Muesli</td>
                <td rowspan="2" class="price">RM 9.90</td>
                <td class="align-bottom">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-light"><i class="bi bi-dash"></i></button>
                            <button type="button" class="btn btn-light right">1</button>
                            <button type="button" class="btn btn-light right"><i class="bi bi-plus"></i></button>
                        </div>
                    </div>
                </td>
                <td rowspan="2" class="price">RM 19.80</td>
            </tr>
            <tr class="end">
                <td class="align-top">350 grams</td>
                <td class="align-top"><a href="#">Remove</a></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Cards -->
<div class="row">
    <div class="col-sm-12 col-md-5 card-left">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="inputText" class="form-label">Special instructions</label>
                        <textarea class="form-control" id="inputText" rows="3"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 card-right">
        <div class="card text-end">
            <div class="card-body">
                <h6 class="card-title">RM 20.90</h6>
                <p class="card-text">Shipping &amp; discounts calculated at the checkout</p>
                <a routerLink="/checkout" class="btn btn-dark button">Checkout</a>
            </div>
        </div>
    </div>
</div>