<!-- Toolbar -->
<div class="toolbar fixed-top" role="banner">
  <span>Free shipping over RM100</span>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="assets/logo.png" alt="" width="155" height="32"></a>
    <div class="search-box">
      <button class="search-icon"><i class="bi bi-search"></i></button>
      <form action="" class="search-form">
        <input type="text" id="input-search" placeholder="Search">
      </form>
      <button class="go-icon"><i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav navbar-left">
          <li class="nav-item dropdown position-static">
            <a class="nav-link" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              SHOP</a>
            <div class="dropdown-menu w-100" aria-labelledby="offcanvasNavbarDropdown">
              <div class="container">
                <div class="row">
                  <ul class="col-md-12 col-lg-2">
                    <li><a class="dropdown-item dropdown-title" href="#">Signature Market</a>
                    </li>
                    <ul class="submenu">
                      <li><a class="dropdown-item" href="#">All Products</a></li>
                      <li><a class="dropdown-item" href="#">New Products</a></li>
                      <li><a class="dropdown-item" href="#">Best Seller</a></li>
                      <li><a class="dropdown-item" href="#">Bulk Pack</a></li>
                      <li><a class="dropdown-item" href="#">Items on Sale</a></li>
                      <li><a class="dropdown-item" href="#">Bundles &amp; Gift Sets</a></li>
                      <li><a class="dropdown-item" href="#">Merchandise</a></li>
                    </ul>
                  </ul>
                  <ul class="col-md-12 col-lg-2">
                    <li><a class="dropdown-item dropdown-title" href="#">Breakfast</a></li>
                    <ul class="submenu">
                      <li><a class="dropdown-item" href="#">Functional Beverages</a></li>
                      <li><a class="dropdown-item" href="#">Coffee, Tea &amp; Beverages</a>
                      </li>
                      <li><a class="dropdown-item" href="#">Granola &amp; Muesli</a></li>
                      <li><a class="dropdown-item" href="#">Nut Butters &amp; Fruit
                          Spreads</a></li>
                    </ul>
                  </ul>
                  <ul class="col-md-12 col-lg-2">
                    <li><a class="dropdown-item dropdown-title" href="#">Snacks</a></li>
                    <ul class="submenu">
                      <li><a class="dropdown-item" href="#">Nuts &amp; Trail Mixes</a></li>
                      <li><a class="dropdown-item" href="#">Dried Fruits</a></li>
                      <li><a class="dropdown-item" href="#">Cookies &amp; Pastries</a></li>
                      <li><a class="dropdown-item" href="#">Chips &amp; Crisps</a></li>
                      <li><a class="dropdown-item" href="#">Chocolates &amp; Treats</a></li>
                      <li><a class="dropdown-item" href="#">Savoury Snacks</a></li>
                    </ul>
                  </ul>
                  <ul class="col-md-12 col-lg-2">
                    <li><a class="dropdown-item dropdown-title" href="#">Food</a></li>
                    <ul class="submenu">
                      <li><a class="dropdown-item" href="#">Organic Seeds &amp; Beans</a></li>
                      <li><a class="dropdown-item" href="#">Raw Nuts &amp; Seeds</a></li>
                      <li><a class="dropdown-item" href="#">Herbal Soup &amp; Tea</a></li>
                      <li><a class="dropdown-item" href="#">Instant Meals</a></li>
                      <li><a class="dropdown-item" href="#">Spices &amp; Ingredients</a></li>
                    </ul>
                  </ul>
                  <ul class="col-md-12 col-lg-2">
                    <li><a class="dropdown-item dropdown-title" href="#">Health</a></li>
                    <ul class="submenu">
                      <li><a class="dropdown-item" href="#">Wellness</a></li>
                      <li><a class="dropdown-item" href="#">Sports Supplements</a></li>
                      <li><a class="dropdown-item" href="#">Honey &amp; Vinegar</a></li>
                    </ul>
                  </ul>
                  <ul class="col-md-12 col-lg-2">
                    <li><a class="dropdown-item dropdown-title" href="#">Plant Origins</a></li>
                    <ul class="submenu">
                      <li><a class="dropdown-item" href="#">Bundles &amp; Gift Sets</a></li>
                      <li><a class="dropdown-item" href="#">Essential Oil</a></li>
                      <li><a class="dropdown-item" href="#">Diffuser &amp; Accessories</a>
                      </li>
                      <li><a class="dropdown-item" href="#">Room Spray</a></li>
                      <li><a class="dropdown-item" href="#">Personal Care</a></li>
                      <li><a class="dropdown-item" href="#">Skincare</a></li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" role="button" data-bs-toggle="offcanvas" aria-controls="offcanvasRight"
              href="#offcanvasRight">CART</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Empty cart -->
<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <p id="offcanvasRightLabel" class="center offcanvas-heading">Your Cart</p>
  </div>
  <hr class="divider-small">
  <div class="offcanvas-body">
    <div class="offcanvas-text">
      Your cart is currently empty.
    </div>
    <div class="cart-button">
      <button type="button" class="btn btn-dark">Continue Shopping</button>
    </div>
  </div>
</div> -->

<!-- Cart -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <p id="offcanvasRightLabel" class="center offcanvas-heading">Your Cart</p>
  </div>
  <hr class="divider-small">
  <div class="offcanvas-body">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-3 col-sm-3">
          <img src="assets/breakfast_muesli.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-9 col-sm-9">
          <div class="card-body">
            <p class="card-title">Shizuoka Houjicha Milk Spread</p>
            <p class="card-text price">RM 11.00</p>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-light"><i class="bi bi-dash"></i></button>
                <button type="button" class="btn btn-light right">1</button>
                <button type="button" class="btn btn-light right"><i class="bi bi-plus"></i></button>
              </div>
            </div>
            <p class="card-text"><small class="text-muted">Remove</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-3 col-sm-3">
          <img src="assets/breakfast_muesli.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-9 col-sm-9">
          <div class="card-body">
            <p class="card-title">Breakfast Muesli</p>
            <p class="card-text price">RM 9.90</p>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-light"><i class="bi bi-dash"></i></button>
                <button type="button" class="btn btn-light right">1</button>
                <button type="button" class="btn btn-light right"><i class="bi bi-plus"></i></button>
              </div>
            </div>
            <p class="card-text"><small class="text-muted">Remove</small></p>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider-small" style="width: 99.5%;">
    <div class="row align-items-center subtotal">
      <div class="col-6" style="font-size: 0.875rem;">
        Subtotal
      </div>
      <div class="col-6 right" style="font-size: 1.125rem;">
        RM 20.90
      </div>
    </div>
    <hr class="divider-small" style="width: 99.5%;">
    <div class="row button">
      <div class="col">
        <button type="button" class="btn btn-dark outline">View Cart</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-dark">Checkout</button>
      </div>
    </div>
    <div>
      <p class="info">Shipping &amp; discounts calculated at the checkout</p>
    </div>
  </div>
</div>

<app-carousel></app-carousel>
<app-monthly-exclusive></app-monthly-exclusive>
<hr class="divider">
<app-best-seller></app-best-seller>
<app-community></app-community>
<app-footer></app-footer>