<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Products</li>
    </ol>
</nav>

<h4 class="text-center">Nuts &amp; Trail Mixes</h4>

<!-- Card -->
<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/cashew.jpg" class="card-img-top" alt=""><span><button type="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to Wishlist"><i
                        class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Roasted Cashew Nuts (Bulk Pack)</p>
                <p class="card-text">600g / <s>RM 103.00 </s>&nbsp;<span class="badge bg-danger">RM 45.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/pecan.jpg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Roasted Pecan Nuts (Bulk Pack)</p>
                <p class="card-text">450g / <s>RM 113.80 </s>&nbsp;<span class="badge bg-danger">RM 67.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/macadamia.jpg" class="card-img-top" alt=""><span><button type="button"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to Wishlist"><i
                        class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Roasted Macadamia Nuts Split (Bulk Pack)</p>
                <p class="card-text">450g / <s>RM 123.00 </s>&nbsp;<span class="badge bg-danger">RM 73.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div>