<!-- Card -->
<div class="card text-white text-center">
    <img src="assets/insta.png" class="card-img" alt="">
    <div class="card-img-overlay">
        <div class="center">
            <h1 class="card-title">Follow us on Instagram</h1>
            <p class="card-text">Share your #signaturemarket experience</p>
            <button type="button" class="btn btn-dark">@SIGNATUREMARKET</button>
        </div>
    </div>
</div>

<!-- Form -->
<h5 class="text-center">Join Our Community</h5>

<div>
    <form class="row g-3 justify-content-center">
        <div class="col-auto">
            <input type="email" class="form-control" placeholder="Email address" aria-label="Email address">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn2 btn-dark2 mb-3">Subscribe</button>
        </div>
    </form>
</div>