<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog</li>
    </ol>
</nav>

<h4 class="text-center">Blog</h4>
<hr class="divider-center">

<!-- Card -->
<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100 text-center">
            <img src="assets/blog.jpeg" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-date">10/10/2021</p>
                <p class="card-title">All About Yoga During Pregnancy</p>
                <p class="card-text">For all our mamas out there!</p>
            </div>
            <a routerLink="/blog-detail" class="card-link text-decoration-none">Read More</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100 text-center">
            <img src="assets/blog.jpeg" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-date">10/10/2021</p>
                <p class="card-title">All About Yoga During Pregnancy</p>
                <p class="card-text">For all our mamas out there!</p>
            </div>
            <a routerLink="/blog-detail" class="card-link text-decoration-none">Read More</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100 text-center">
            <img src="assets/blog.jpeg" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-date">10/10/2021</p>
                <p class="card-title">All About Yoga During Pregnancy</p>
                <p class="card-text">For all our mamas out there!</p>
            </div>
            <a routerLink="/blog-detail" class="card-link text-decoration-none">Read More</a>
        </div>
    </div>
</div>