@import "/src/styles/variables";

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none;

  > .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
  }
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;

  &:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }

  &:focus {
    box-shadow: none;
  }
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translate(-50%, -2.5%);
  text-align: center;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem 1rem 0.5rem;
  margin-top: 0.5rem;
}

.image {
  margin: 0 3.8rem;
}

.descriptions {
  margin-left: 3.8rem;
  margin-bottom: 0.1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.75rem 0.75rem;
  border-top: none;
}

form {
  margin: 0 auto;
}

.form-control {
  font-size: $font-size-subnormal;
  font-weight: $font-weight-light;
  line-height: 1.5;
  color: $gray-800;
  border: 1px solid $border-color;
  border-radius: 0;
  letter-spacing: 0.05rem;
  width: 350px;

  &:focus {
    color: $gray-800;
    background-color: #fff;
    border-color: $gray-400;
    box-shadow: none;
  }

  &::placeholder {
    color: $gray-500;
  }
}

.btn {
  font-size: $font-size-subnormal;
  border-radius: 0;
  letter-spacing: 0.05rem;
  width: 350px;
}

.btn-primary {
  background-color: $green;
  border-color: $green;

  &:hover {
    color: $green;
    background-color: $white;
    border-color: $green;
  }

  &:focus {
    color: #fff;
    background-color: $green;
    border-color: $green;
    box-shadow: none;
  }
}

.info {
  font-size: $font-size-small;
  margin: 0 3.8rem;
}

// Media screen
@media only screen and (max-width: 575px) {
  .image {
    margin: 0 5.6rem;
  }

  .descriptions {
    margin-left: 5.6rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 570px) {
  .image {
    margin: 0 5.4rem;
  }

  .descriptions {
    margin-left: 5.4rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 560px) {
  .image {
    margin: 0 5.2rem;
  }

  .descriptions {
    margin-left: 5.2rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 555px) {
  .image {
    margin: 0 5rem;
  }

  .descriptions {
    margin-left: 5rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 545px) {
  .image {
    margin: 0 4.7rem;
  }

  .descriptions {
    margin-left: 4.7rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 535px) {
  .image {
    margin: 0 4.4rem;
  }

  .descriptions {
    margin-left: 4.4rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 525px) {
  .image {
    margin: 0 4.05rem;
  }

  .descriptions {
    margin-left: 4.05rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 515px) {
  .image {
    margin: 0 3.7rem;
  }

  .descriptions {
    margin-left: 3.7rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 505px) {
  .image {
    margin: 0 3.4rem;
  }

  .descriptions {
    margin-left: 3.4rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 495px) {
  .image {
    margin: 0 3.2rem;
  }

  .descriptions {
    margin-left: 3.2rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 485px) {
  .image {
    margin: 0 2.8rem;
  }

  .descriptions {
    margin-left: 2.8rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 475px) {
  .image {
    margin: 0 2.5rem;
  }

  .descriptions {
    margin-left: 2.5rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 465px) {
  .image {
    margin: 0 2.2rem;
  }

  .descriptions {
    margin-left: 2.2rem;
    margin-bottom: 0.1rem;
  }
}

@media only screen and (max-width: 455px) {
  .image {
    margin: 0 1.85rem;
  }

  .descriptions {
    margin-left: 1.85rem;
    margin-bottom: 0.1rem;
  }
}
