<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Free Plant Origins Essential Oil with No Min. Spend</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="image" src="assets/modal_pic.gif" alt="" width="348" height="228">
                <p class="descriptions" style="margin-top: 0.5rem;"><i class="bi bi-check2-circle"></i>&nbsp;&nbsp;Free Plant Origins Essential Oil (x2)</p>
                <p class="descriptions"><i class="bi bi-check2-circle"></i>&nbsp;&nbsp;Free Lifetime Membership</p>
                <p class="descriptions"><i class="bi bi-check2-circle"></i>&nbsp;&nbsp;Free Delivery 1st Purchase</p>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <input type="email" class="form-control" placeholder="Email address" aria-label="Email address">
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-primary">Redeem Now</button>
                </div>
                <p class="text-center info">* New Customer Only. Need to purchase RM1 or more to get Complimentary Free Plant Origins Essential
                    Oil with No Min. Spend.</p>
            </div>
        </div>
    </div>
</div>