<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Products</li>
    </ol>
</nav>

<h4 class="text-center">Nut Butters &amp; Fruit Spreads</h4>

<!-- Card -->
<div class="row g-3">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/black_sesame_spread.jpeg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Kuro Black Sesame Spread</p>
                <p class="card-text">200g / <s>RM 26.50 </s>&nbsp;<span class="badge bg-danger">RM 14.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/roasted_coffee_almond_butter.jpeg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Roasted Coffee Almond Butter</p>
                <p class="card-text">180g / <s>RM 32.90 </s>&nbsp;<span class="badge bg-danger">RM 24.90</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="assets/hojicha_spread.jpeg" class="card-img-top" alt=""><span><button type="button" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Add to Wishlist"><i class="bi bi-heart"></i></button></span>
            <div class="card-body">
                <p class="card-title">Shizuoka Houjicha Milk Spread</p>
                <p class="card-text">180g / <s>RM 55.00 </s>&nbsp;<span class="badge bg-danger">RM 11.00</span></p>
            </div>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div>